.corte-descricao {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 2.4em;
    max-width: 260px;
    margin-bottom: 0;
}

.div-data-hora {
    width: 110px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #000; /* ou use bg-dark via Bootstrap */
    color: #fff;
    text-align: center;
  }

  .div-data-hora p {
    font-size: 0.70rem;
    line-height: 1.2;
  }
  